@use '../utils/' as *;

.gridMain {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    gap: 1.5rem;

  
@include ltXlarge{
  grid-template-columns: repeat(3, minmax(0, 1fr)); 
}
@include ltMedium {
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }
@include ltSmall {
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
}
}

  

  .gridSecondary {
    padding-top:1rem;
    display: grid;
    
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    gap: 1.5rem;

    @include ltSmall {
      grid-template-columns: repeat(1, minmax(0, 1fr)); 
  }
  }

  .favoritesContainer {
    margin-top:-11rem;
    margin-bottom: 10rem;

    @include ltMedium {
      margin-top:-15rem;
      
    }
    @include ltSmall {
      margin-top:-16.5rem;
    }

    h1 {
      margin-bottom: 1rem;
    }
  }

  
  