@use '../utils/' as *;

.gridMain {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    gap: 2rem;

  
@include ltXlarge{
  grid-template-columns: repeat(3, minmax(0, 1fr)); 
}
@include ltMedium {
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }
@include ltSmall {
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
}
}

  

  .gridSecondary {
    padding-top:1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    gap: 2rem;

    @include ltSmall {
      grid-template-columns: repeat(1, minmax(0, 1fr)); 
  }
  }

  
  