@use '../utils/' as *;


.button {
    position: relative;
    opacity: 1;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    width: 100%;
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem; 
    font-size: 1rem; 
    font-weight: 600;
  
    &.disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  
    &.outline {
      &.bgWhite {
        background-color: white;
      }
  
      &.borderBlack {
        border-color: black;
      }
  
      &.textBlack {
        color: black;
      }
    }
  
    &.bgGreen {
      background-color: $color-green-primary;
    }
  
    &.borderRose500 {
      border-color: none;
    }
  
    &.textWhite {
      color: white;
    }
  
    &.border1px {
      border-width: 1px; 
    }
  
    &.border2 {
      border-width: 2px; 
    }
  
    &.absolute {
      position: absolute;
    }
  
    &.left4 {
      left: 1rem;
    }

  }

  

    .icon {
        position: absolute;
        left: 1rem;
        top: 0.65rem;
    }

  
  
  