@use '../utils/' as *;


.button {
    position: relative;
    opacity: 1;
    border: 2px solid rgba(0, 0, 0, 0.084);
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    width: 100%;
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem; 
    font-size: 1rem; 
    font-weight: 600;
  
    &.disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  
    &.outline {
      &.bgWhite {
        background-color: white;
      }
  
      &.borderBlack {
        border-color: black;
      }
  
      &.textBlack {
        color: black;
      }
    }
  
    &.bgGreen {
      background-color: $color-green-primary;
    }
  
    &.borderNone {
      border-color: none;
    }
  
    &.textWhite {
      color: white;
    }
  }

    .icon {
        position: absolute;
        left: 1rem;
        top: 0.65rem;
    }

  
  
  