@use '../utils/' as *;

.flexContainer {
    @include flexCenterBetween();
    padding-top: 1rem; 
    overflow-x: auto; 
    padding-bottom: 1rem;

    @include ltMedium {
        gap:1rem;
        font-size: small;
    }
}