@use "../utils/" as *;


.title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem; 
    color: $color-secondary-yellow;
}

.subtitle {
    color: $color-text-primary;
    font-weight: 300;
}

.center {
    text-align: center;
}


.start {
    text-align: start;
}