@use "../utils/" as *;

.center {
    text-align: center;
}


.start {
    text-align: start;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem; 
}

.subtitle {
    color:pink;
    font-weight: 200;
}