
@use '../utils/' as *;

.heart {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    
    &:hover {
      background-color: rgba(230, 99, 99, 0.794);
    }
  }

  .heartIcons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }