@use '../utils/' as *;

.container {
    @include flexCenter(true);
    position: fixed;
    inset: 0;
    z-index: 50; 
    overflow-y: auto; 
    background-color: rgba(0, 0, 0, 0.7);

    .container:focus {
        outline:none;
    }
}

.relative {
    position: relative;
    width: 100%;
    margin: 1.5rem auto;
    height: auto; 

    @include gtMedium {
        width: 50%;
    }
    @include ltSmall {
        flex:none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0.5rem;
    transform: translate(0);
    background-color: #43484973;
    backdrop-filter: blur(0.75rem);
    color: #fff;  
    height: 100%;
    width: 100%;
    outline:none;

    @include ltSmall {
        height: 95vh;
        border-radius: 0;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.269);
    padding: 1.0rem;
}

.closeButton {
    padding: 0.25rem; 
    color: #fff;
    cursor: pointer;
    border:none;
    transform: translate(0);
    position: absolute;
    left: 1rem;
    background-color: transparent;
}

.modalBody {
    position:relative;
    padding: 1.5rem; 
    flex: 1 1 auto; 

    @include ltSmall {
        flex:none;
    }
}

.modalFooter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
    padding: 1.5rem; 
}

