@use '../utils/' as *;

.navbar {
    color: white;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../public/images/foodbackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-timing-function: ease-in;
    transition:0.5s;

    &.show {
        opacity: 1;
        transform: translateY(0);
      }
      transition: opacity 0.3s ease, transform 0.3s ease;
      opacity: 0;
      transform: translateY(-100%);
    
.heroText {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    padding: 3rem;
    span {
        color:orange;
    }

    h2 {
        font-weight: 200;
    }
    h1 {
        line-height: 0.1;
    }

    @include ltMedium {
    white-space:normal;
    padding: 1rem;
    h1,h2 {
        line-height: 1.0;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
     
    }
}
}

.navbarBorder {
    padding-bottom: 1rem;
}


.navbarContainer {
    display:flex;
    align-items: center;
    justify-content:space-between;
    gap: 0.75rem; 
    margin-top: 0.75rem;
    margin-left: 0.75rem;
}


.logo {
    width: auto;
    height: auto;
    cursor: pointer;
}


