@use '../utils/' as *;

.paginationBar {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  gap:5px;

  @include ltSmall {
    gap:7px;
  }
}
.join {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    @include ltSmall {
      gap:10px;
    }
  }
  
  .joinItem {
    display: flex;
    padding: 5px 10px;
    background-color: $color-secondary;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: $color-orange;
    @include ltSmall {
    padding: 4px 10px;
    }
  }
  
  .join-item.btn-active {
    background-color: $color-orange;
    border-radius: 5px;
    pointer-events: none;
  }
  
  .btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: $color-secondary;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    @include ltSmall {
      padding: 4px 10px;
      }
  }
  
  .btn:hover {
    background-color: $color-orange;
  }
  
  .pointer-events-none {
    pointer-events: none;
  }
  