@use '../utils/' as *;


.card {
    aspect-ratio: 1 / 1; 
    position: relative;
    background: rgb(255, 255, 255, 0.8);
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 40px;
    display: flex;
    flex-direction: column;
}

.cardImageContainer {
    width: 100%;
    height: 80%;
    display: flex;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    background-color: rgb(229, 229, 229);
}

.nextimg{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.heartButton {
    position: absolute;
    top: 0.75rem; 
    right: 0.75rem; 
}

 .url {
    background-color: #629f5b;
    color:white;
    padding:10px;
    border-radius: 5px;
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;

    &.url:hover {
        background-color: lightgreen;
    }
} 



.infoContainer {
    display: flex;
    padding: 16px;
    width: 100%;
    cursor: pointer;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;

    .name {
        font-weight: 600;
        height: 2rem;
    }
    .address {
        height: 2rem;
    }
}

.info {
    flex-direction: column;
}