@use '../utils/' as *;


// Body Content Styles
.flexContainer {
    @include flexStart(true);
    gap: 1rem;
}


// Footer Content Styles

.footerContent{
    @include flexCenter(true);
    gap:1rem;
    margin-top:1rem;
}

.accountContainer {
    font-weight: 300; 
    color:$color-text-neutral;
}

.accountFlex {
    @include flexCenter();
    gap:0.5rem;
    
    div {
        color: #fff;
    }
}

.footerLogin {
    font-weight: bold;
    cursor: pointer;
}

