@use '../utils/' as *;


.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;

}
  
    .form {
      position: relative;
      outline: 0;
      display: flex;
      width: 30rem;
      background: white;
      border-radius: 0.7rem;
    
      input, button {
        height: 3rem;
        border: 0;
        color: black;
        font-size: 1rem;
      }
  
      input[type="search"] {
        outline: 0;
        width: 100%;
        background:white;
        padding: 0 1.6rem;
        border-radius: 0.7rem;
        appearance: none;
        transition: all 0.3s cubic-bezier(0,0,0.43,1.49);
        transition-property: width, border-radius;
        z-index: 1;
        position: relative;
      }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
  
      button {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 6rem;
        font-weight: bold;
        background: $color-green-primary;
        color:black;
        border-radius: 0 0.7rem 0.7rem 0;
        cursor: pointer;
      }
  
      input:not(:placeholder-shown) {
        border-radius: 0.7rem 0 0 0.7rem;
        width: calc(100% - 6rem);
        + button {
          display: block;
        }
      }
  
      label {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
      }
    }
    
  

