@use '../utils/' as *;

.cardContainer {
    flex-direction: column;
    position: relative; 
    margin-top: 4.5rem;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 5px; 
    width: 100%;
    @include ltSmall {
        flex-direction: column;
    }
}

.imageContainer {
    width: 100%;
}

.nextimg {
    max-height: 43.75vw;
    height: 630px;
    width: 100%;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: space-between;
}

.favorites {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 250px;
}

.locationHeader {
    font-weight: 200;
    display: flex;
    gap:0.35rem;
    align-items: center;
}

.descContainer {
    width: 70%;
}

.contactInfo {
    font-weight: 500;
}

.infoColumn {
    gap:0.85rem;
    display: flex;
    flex-direction: column;
}

.url {
    justify-content: center;
    gap: 2px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px;

    a {
        display: flex;
        align-items: center;
    }
    
}
