@use '../utils/' as *;

.relativeContainer {
    position:relative;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.75rem;
}

.userMenuButtons {
    display: flex;
    align-items: center;
    padding: 0.3rem; 
    gap:1rem;
    cursor: pointer;
}

.menu {
    display: none;
    @include ltMedium {
        display: flex;
    }
}

.favorites {
    display: flex;
    align-items: center;
    @include ltMedium {
        display: none;
    }
}

.loginModal {
    position: absolute;
    width: 40vh;
    border-radius: 0.75rem; 
    overflow: hidden;
    right: 0; 
    top: 3rem; 
}

.loginFlex {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
}