@use '../utils/' as *;

.relativeContainer {
    position:relative;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.75rem;
}

.userMenuButtons {
    display: flex;
    align-items: center;
    padding: 0.3rem; 
    gap:1rem;
    cursor: pointer;
}

.menu {
    display: none;
    @include ltMedium {
        display: flex;
        z-index: 10;
    }
}

.favorites {
    display: flex;
    align-items: center;
    gap:0.4rem;
    @include ltMedium {
        display: none;
    }
}

.loginModal {
    position: absolute;
    width: 40vh;
    border-radius: 0.75rem; 
    overflow: hidden;
    right: 0; 
    top: 3rem; 
    z-index: 10;

    @include ltMedium {
        z-index: 9;
        width: 100%;
        margin-top: 1rem;
        position:fixed;
        border-radius: 0;
        height: 100vh;
        background-color: $color-secondary;
        color:white;
    }
}

.loginFlex {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

