$color-primary: floralwhite;
$color-secondary: #191716;
$color-orange: #FF670C;
$color-secondary-yellow: #eec047;
$color-green-primary: #41683a;
$color-text-primary: #281103;
$color-text-neutral: #6B7280;
$color-background-neutral: rgba(0, 0, 0, 0.6);


$color-placeholder:#8b8c8f;
$color-outline: #eec047;
$color-error: #ff0033;

$color-login-button: rgb(96, 196, 96);
$color-login-button-text: white;




