@mixin flexCenter($direction: false) {
    display: flex;
    align-items: center;
    justify-content: center;
    @if $direction {
      flex-direction: column;
    }
  }

  @mixin flexCenterBetween($direction: false) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @if $direction {
      flex-direction: column;
    }
  }

  @mixin flexStart($direction: false) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    @if $direction {
      flex-direction: column;
    }
  }

  